
    <style>
        #local{
            float: left;
            margin: 5px;
            padding: 5px;
            border: 1px solid #000000;
        }
    </style>
<div>
    <section id="local">
        <video id="localmedio" width="150" height="150"></video>
        <br>
        <button id="botonllamar">LLAMAR</button>
    </section>    
    <section id="remoto">
        <video id="remotomedio" width="500" height="500"></video>
    </section>
    <p id="sala">
        {{room_name}}
    </p>
</div>
<script src="/emisor.js"></script>    


