<div class="container-fluid cont-pri">
    <div class="row justify-content-center align-items-center vh-100 bg-dark">
        <div class="col-4">
            <video id="localmedio" class="w-100 rounded"></video>
            <p class="text-white text-center" id="user1"></p>
        </div>
        <div class="col-4">
            <video id="remotomedio" class="w-100 rounded"></video>
            <p class="text-white text-center" id="user2"></p>
        </div>
    </div>
</div>
<script src="/emisor.js"></script>    


